{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="d-flex justify-content-between row">
            <h1 class="col-xs-6">Liste des séries</h1>
            <a href="{{ path('ajouter') }}" class="btn btn-primary col-xs-3" role="button">Ajouter une série  <i class="fas fa-plus-circle"></i></a>
            <a href="{{ path('ajouterGenre') }}" class="btn btn-primary col-xs-3" role="button">Ajouter un genre  <i class="fas fa-plus-circle"></i></a>
        </div>
        <ul class="list-group">
            {% for uneSerie in listSeries %}
                <li class="list-group-item align-items-center">
                    <a href="{{ path('supprimer', {'id': uneSerie.id}) }}" class="btn btn-danger btn-sm" role="button"><i class="far fa-trash-alt"></i></a>
                    {{ uneSerie.titre }}
                    <a href="{{ path('editer', {'id': uneSerie.id}) }}" class="btn btn-primary btn-sm" style="float: right;" role="button">Editer</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
