{% extends 'base.html.twig' %}

{% block title %}Séries - Fou de séries
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="d-flex justify-content-between">
            <h1>Toutes les séries</h1>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtres</button>
            <div class="dropdown-menu hover-blueA">
                <a class="dropdown-item disabled">Genre</a>
                <a class="dropdown-item" href="{{ path('serie') }}">Tous</a>
                {% for unGenre in listGenres %}
                    <a class="dropdown-item" href="{{ path('serieByGenre', {'genreId': unGenre.id}) }}">{{ unGenre.libelleGenre|capitalize }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled">Durée maximum de l'épisode</a>
                <a class="dropdown-item notHover-blue row">
                    <input type="range" min="{{ minDuree|date('i') }}" max="{{ maxDuree|date('i') }}" class="custom-range range col-lg-10" id="range" name="range">
                    <output class="col-lg-2"></output>
                </a>
                <a class="dropdown-item notHover-blue row col-lg-12" id="sendButton" href="{{ path('serieByDuree', {'duree': 400000}) }}">
                    <i class="far fa-paper-plane btn btn-block btn-primary btn-sm"></i>
                </a>
            </div>
        </div>

        <div class="card-deck">
            {% for uneSerie in listSeries %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <div class="view overlay zoom">
                            <img class="card-img-top" src="{{ uneSerie.image }}" alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ uneSerie.titre }}</h4>
                            <a href="{{ path('infoserie', {'id': uneSerie.id}) }}" class="btn btn-primary">
                                <i class="fas fa-info-circle"></i>
                                Plus d'infos</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(listSeries) }}
        </div>
    </div>
{% endblock %}
