{% extends 'base.html.twig' %}

{% block title %}Les Séries
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="d-flex justify-content-between">
            <h1>Toutes les séries</h1>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('serie') }}">Tous</a>
                {% for unGenre in listGenres %}
                    <a class="dropdown-item" href="{{ path('serieByGenre', {'genreId': unGenre.id}) }}">{{ unGenre.libelleGenre|capitalize }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="card-deck">
            {% for uneSerie in listSeries %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ uneSerie.image }}" alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ uneSerie.titre }}</h4>
                            <a href="{{ path('infoserie', {'id': uneSerie.id}) }}" class="btn btn-primary">
                                <i class="fas fa-info-circle"></i>
                                Plus d'infos</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(listSeries) }}
        </div>
    </div>
{% endblock %}
