{% extends 'base.html.twig' %}

{% block title %}News - Fou de séries
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <section class="my-5">
            <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
            <p class="text-center w-responsive mx-auto mb-5">Il y a 4 news le
                {{ "now"|date("d/m/Y") }}.</p>
            <hr class="my-5">
            {% for uneNews in listNews %}
                <div class="row">
                    <div class="col-lg-5">
                        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 zoom">
                            <img class="img-fluid" src="{{ uneNews.image }}" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <a class="indigo-text">
                            <h6 class="font-weight-bold mb-3">
                                <i class="fas fa-tv"></i> Séries</h6>
                        </a>
                        <h3 class="font-weight-bold mb-3">
                            <strong>{{ uneNews.titre }}</strong>
                        </h3>
                        <p>{{ uneNews.resume|truncate(100, false, '...') }}</p>
                        <p>by
                            <a>
                                <strong><a target="_blank" data-toggle="tooltip" title="Accédez à mon site web" href="https://clement-dudit.fr">Clément Dudit</a></strong>
                            </a>, le {{ "now"|date("d/m/Y") }}.</p>
                    </div>
                </div>
                <br>
            {% endfor %}
        </section>
    </div>
{% endblock %}
